# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environment
# ===============================
venv/
env/
.venv/

# ===============================
# Django
# ===============================
*.log
local_settings.py
db.sqlite3
media/


# Migrations cache
*/migrations/__pycache__/

# ===============================
# Static & Collected files
# ===============================
staticfiles/
static_root/

# ===============================
# Environment variables
# ===============================
.env
.env.*
*.env

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Node (if frontend added later)
# ===============================
node_modules/
dist/
