version: "3.9"

services:
  db:
    image: docker.io/library/postgres:16
    container_name: som_db
    environment:
      POSTGRES_DB: smart_orders
      POSTGRES_USER: smart_user
      POSTGRES_PASSWORD: smart_pass
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: docker.io/library/redis:7
    container_name: som_redis
    ports:
      - "6379:6379"

  web:
    build: .
    image: localhost/som_web:latest
    container_name: som_web
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  worker:
    build: .
    image: localhost/som_web:latest
    container_name: som_worker
    command: celery -A SOM worker -l info
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

volumes:
  pgdata:
